.saraha-brand {
    color: white;
}

.content-button {
    float: left;
}

.content-profile-image {
    display: flex;
}


.link-icon {
    font-size: 22px;
    cursor: copy;
}

.profile-image {
    height: 34px;
    width: 36px;
    border-radius: 50%;
}

.logout-item {
    cursor: pointer;
}